<section>
  <h2>About me</h2>
  <div>
    <div id="about-me">
      <p id="content">
        Write some information about yourself that is IT related. Why are you passionate about
        coding?Show a desire to learn new technologies Add a brief description of your
        problem-solving approach.You can include some key traits like: analytical thinking,
        creativity, persistence and collaboration.
      </p>
      <div class="location-availability">
        <img src="assets/icons/house.png" alt="Home" />
        <p>Based in Weissach</p>
      </div>
      <div class="location-availability">
        <img src="assets/icons/laptop.png" alt="Laptop" />
        <p>Open to work Remote</p>
      </div>
      <div id="lets-talk-btn">
        <a class="button-two" href="#say-hi">Let`s talk</a>
      </div>
    </div>
    <div id="profile-photo">
      <dialog class="frame"></dialog>
      <img src="assets/img/logo.png" alt="Bild" />
    </div>
  </div>
</section>
