@use '../../../../public/assets/styles/all-styles.scss' as all;

section {
  height: 90dvh;
  width: 100%;
  padding: 48px;

  > h2 {
    width: fit-content;
    padding-bottom: 48px;

    &:hover {
      color: all.$green;
    }
  }

  > div {
    @include all.flexi($gap: 24px);

    > div {
      width: 50%;
      height: 60dvh;
    }

    #about-me {
      @include all.flexi($fd: column, $jc: flex-start);

      #content {
        margin-bottom: 48px;
      }

      .location-availability {
        width: 100%;
        height: 48px;
        @include all.flexi($ai: center, $jc: flex-start, $gap: 8px);
      }

      #lets-talk-btn {
        width: 100%;
        @include all.flexi($jc: center);
        margin-top: 48px;
      }
    }

    #profile-photo {
      position: relative;

      &:hover {
        .frame {
          display: block;
        }
      }
    }
  }
}
