@use '../../../../public/assets/styles/all-styles.scss' as all;

section {
  height: fit-content;
  width: 100%;
  box-sizing: border-box;
  max-width: 1440px;

  #content-wrapper {
    height: 400px;
  }

  > h2 {
    width: 100%;
    padding-bottom: 48px;

    &:hover {
      color: all.$green;
    }
  }

  > div {
    @include all.flexi($gap: 24px);

    > div {
      width: 50%;
      height: inherit;
    }

    #about-me {
      @include all.flexi($fd: column, $jc: flex-start);

      #content {
        margin-bottom: 48px;
      }

      .location-availability {
        width: 100%;
        height: 48px;
        @include all.flexi($ai: center, $jc: flex-start, $gap: 8px);
      }

      #lets-talk-btn {
        width: 100%;
        @include all.flexi($jc: center);
        margin-top: 48px;
      }
    }

    #profile-photo {
      position: relative;
      height: 400px;

      > img {
        width: 100%;
        height: 100%;
        object-fit: contain;
        background-color: orange;
      }

      &:hover {
        .frame-min-height {
          display: block;
          height: inherit;
          position: absolute;
        }
      }
    }
  }
}

//#region Mediaquerries

@include all.notebook {
  h2 {
    text-align: center;
  }

  #content-wraper {
    flex-direction: column;
  }

  #about-me {
    width: 100%;
  }

  #profile-photo {
    width: 100%;

    > img {
      height: 20px;
    }
  }
}

@include all.tablet {
  section >h2 {
    text-align: left;
    padding-bottom: 24px;
  }

  #content-wraper {
    align-items: flex-start;
  }

  .frame-min-height {
    top: 15px;
    left: 15px;
  }
}

//#endregion
