<main class="background">
  <section class="padding">
    <h2>{{'about-me.headline' | translate}}</h2>
    <div id="content-wraper">
      <div id="about-me">
        <p id="content">
          {{'about-me.description' | translate}}
        </p>
        <div class="location-availability">
          <img src="assets/icons/house.png" alt="Home" />
          <p>{{'about-me.based-in' | translate}}</p>
        </div>
        <div class="location-availability">
          <img src="assets/icons/laptop.png" alt="Laptop" />
          <p>{{'about-me.work' | translate}}</p>
        </div>
        <div id="lets-talk-btn">
          <a class="button-two" href="#say-hi">{{'about-me.let`s-talk' | translate}}</a>
        </div>
      </div>
      <div id="profile-photo">
        <dialog class="frame-min-height"></dialog>
        <img src="assets/img/bewerbung.png" alt="Profilbild" />
      </div>
    </div>
  </section>
</main>
