@use '../../../../public/assets/styles/all-styles.scss' as all;

nav {
  width: 100%;
  height: fit-content;
  padding: 0px 48px;
  font-weight: bold;
  position: sticky;
  top: 0;
  z-index: 100;
  @include all.flexi();

  > div {
    width: 100%;
    height: 15dvh;
    @include all.flexi($ai: center, $jc: flex-start);
  }

  #language {
    @include all.flexi($jc: flex-end, $gap: 10px);

    > p {
      font-size: 20px;
      padding: 4px;

      &:hover {
        border: 2px solid all.$green;
        cursor: pointer;
      }
    }
  }

  #burger-menu {
    @include all.flexi($ai: center);
    margin-left: 48px;

    &:hover {
      cursor: pointer;
    }
  }
}

#dialog-menu {
  width: 100%;
  height: 85dvh;
  position: fixed;
  z-index: 99; 
  top: 15dvh;
  border: none;
}

#dialog-content {
  width: 100%;
  height: 85dvh;
  @include all.flexi($jc: center, $ai: center);
  background: linear-gradient(188deg, #fffcf3 0%, #fffcf3 85%, black 50%, black 100%);

  > ul {
    @include all.flexi($fd: column, $gap: 80px);
    top: -48px;
  }

  .nav-ref {
    font-size: 100px;
    font-weight: bold;
  }
}
