<div id="arrow">
  <img src="assets/icons/arrow-down-left.png" alt="" />
</div>

<section id="say-hi-ref">
  <div id="say-hi">
    <img src="assets/icons/arrow-up.png" alt="" />
    <div id="headline">
      <h2>Say Hi!</h2>
    </div>

    <div id="input-area">
      <h3>Want to discuss a new project?</h3>
      <p>Say hello! let`s discuss your ideas and make it happen</p>
      <form class="form-container">
        <div>
          <label class="label">Your name</label>
          <input class="input" type="text" placeholder="Your name" required />
        </div>
        <div>
          <label class="label">Your email</label>
          <input class="input" type="email" placeholder="Your email" />
        </div>
        <div>
          <label class="label">Your message</label>
          <textarea class="textarea" placeholder="Your message"></textarea>
        </div>
        <div id="check-box">
          <input type="checkbox"/>
          <p>
            I`ve read the <span>privacy policy</span> and agree to the processing of
            my data as outlined
          </p>
        </div>
      </form>
      <button class="button-one">Send message</button>
    </div>
  </div>
</section>
