@use '../../../../public/assets/styles/all-styles.scss' as all;

.background {
  background-color: black;
  // overflow-x: hidden;

  // &::before {
  //   overflow: hidden;
  //   position: absolute;
  //   content: '';
  //   width: 110%;
  //   height: 200px;
  //   transform: rotate(4deg);
  //   top: -120px;
  //   left: -10%;
  //   right: 0;
  //   background-color: black;
  // }
}


#arrow-wrapper {
  @include all.flexi($jc: center);
  padding-bottom: 40px;
  background: linear-gradient(185deg, #fffcf3 0%, #fffcf3 75%, black 50%, black 100%);
}

#arrow {
  width: 100%;
  height: 420px;
  max-width: 1440px;
  @include all.flexi($jc: flex-end, $ai: center);

  > img {
    width: 250px;
    height: 250px;
  }
}

section {
  width: 100%;
  height: fit-content;
  color: white;
  background-color: black;
  max-width: 1440px;

  #headline {
    width: 100%;
    @include all.flexi($jc: flex-start);
  }

  h3 {
    font-size: 36px;
    color: all.$green;
    margin: 24px 0px;
  }

  a {
    color: all.$green;
    text-decoration: none;

    &:hover {
      filter: brightness(1.2);
      text-shadow: 0 0 0.5px currentColor;
    }
  }

  #say-hi-wraper {
    width: 100%;
    @include all.flexi($fd: column);

    > a {
      position: absolute;
      z-index: 10;
      right: 0;
      bottom: 0;

      &:hover {
        cursor: pointer;
      }
    }

    #input-area {
      width: 100%;
      @include all.flexi($fd: column);

      #subline {
        text-align: center;
        padding-bottom: 48px;
      }

      .form-container {
        width: clamp(280px, 100%, 600px);
        height: fit-content;
        padding-bottom: 16px;
        @include all.flexi($fd: column, $gap: 16px);

        > div {
          width: 100%;
        }

        .validation {
          color: red;
          font-size: 16px;
        }
      }

      .textarea {
        width: 100%;
        height: 240px;
        border: none;
        border-bottom: 2px solid white;
        padding: 16px;
        margin-top: 24px;

        &:hover {
          border: 2px solid white;
          cursor: pointer;
        }

        &:focus {
          border: 2px solid white;
          outline: none;
          background-color: black;
        }
      }

      .input {
        width: 100%;
        height: 36px;
        border: none;
        border-bottom: 2px solid white;
        padding: 16px;
        margin-top: 24px;

        &:hover {
          border: 2px solid white;
          cursor: pointer;
        }

        &:focus {
          border: 2px solid white;
          outline: none;
        }
      }

      .label {
        position: absolute;
        width: fit-content;
        height: 16px;
        color: white;
        top: 16px;
        left: 16px;
        font-size: 16px;
        z-index: 10;
      }

      #check-box {
        width: 100%;
        @include all.flexi($jc: flex-start, $gap: 16px);

        p {
          font-size: 16px;
        }
      }
    }
  }
}

//#region Mediaquerries

@include all.tablet {
  #say-hi-wraper > a {
    display: none;
  }
}

//#endregion
