@use '../../../../public/assets/styles/all-styles.scss' as all;

#arrow {
  width: 100%;
  height: 400px;
  @include all.flexi($jc: flex-end);
  background: linear-gradient(6.5deg, black 0%, black 35%, #fffcf3 35%, #fffcf3 100%);

  > img {
    width: 250px;
    height: 250px;
  }
}

section {
  width: 100%;
  height: fit-content;
  color: white;
  padding: 24px 48px;
  background-color: black;

  #headline {
    width: 100%;
    @include all.flexi($jc: flex-start);
  }

  h3 {
    font-size: 36px;
    color: all.$green;
    margin: 24px 0px;
  }

  span {
    &:hover {
      box-sizing: border-box;
      filter: brightness(1.2);
      font-weight: bold;
    }
  }

  #say-hi {
    width: 100%;
    @include all.flexi($fd: column);

    > img {
      position: absolute;
      z-index: 10;
      right: 0;
      bottom: 0;

      &:hover {
        cursor: pointer;
      }
    }

    #input-area {
      width: 100%;
      @include all.flexi($fd: column);

      > button {
        filter: brightness(0.5);

        &:hover {
          filter: brightness(1);
        }
      }

      .form-container {
        width: 600px;
        height: 500px;
        padding-bottom: 16px;
        @include all.flexi($fd: column, $gap: 16px);
      }

      .textarea {
        width: 600px;
        height: 240px;
        border: none;
        border-bottom: 2px solid white;
        padding: 16px;
        margin-top: 24px;

        &:hover {
          border: 2px solid white;
          cursor: pointer;
        }

        &:focus {
          border: 2px solid white;
          outline: none;
        }
      }

      .input {
        width: 600px;
        height: 36px;
        border: none;
        border-bottom: 2px solid white;
        padding: 16px;
        margin-top: 24px;

        &:hover {
          border: 2px solid white;
          cursor: pointer;
        }

        &:focus {
          border: 2px solid white;
          outline: none;
        }
      }

      .label {
        position: absolute;
        // display: none;
        width: fit-content;
        height: 16px;
        color: white;
        top: 16px;
        left: 16px;
        font-size: 16px;
        z-index: 10;
      }

      #check-box {
        width: 100%;
        @include all.flexi($jc: flex-start, $gap: 16px);

        p {
          font-size: 16px;
        }
      }
    }
  }
}
