<div id="arrow">
  <img src="assets/icons/arrow-down-left.png" alt="" />
</div>

<section id="say-hi-ref">
  <div id="say-hi">
    <img src="assets/icons/arrow-up.png" alt="" />
    <div id="headline">
      <h2>Say Hi!</h2>
    </div>

    <div id="input-area">
      <div id="subline">
        <h3>Want to discuss a new project?</h3>
        <p>Say hello! let`s discuss your ideas and make it happen</p>
      </div>
      <form (ngSubmit)="onSubmit(contactForm)" class="form-container" #contactForm="ngForm">
        <div>
          <label for="name" class="label">Your name</label>
          <input
            #name="ngModel"
            [(ngModel)]="contactData.name"
            name="name"
            id="name"
            class="input"
            type="text"
            placeholder="Your name"
            required
          />
          @if (!name.valid && name.touched) {
          <p class="validation">Your name is required</p>
          }
        </div>
        <div>
          <label for="email" class="label">Your email</label>
          <input
            #email="ngModel"
            [(ngModel)]="contactData.email"
            name="email"
            id="email"
            class="input"
            type="email"
            placeholder="Your email"
            required
            pattern="[a-zA-Z0-9._%+\-]+@[a-zA-Z0-9.\-]+\.[a-zA-Z]{2,}"
          />
          @if (!email.valid && email.touched) {
          <p class="validation">Your name is required</p>
          }
        </div>
        <div>
          <label for="message" class="label">Your message</label>
          <textarea
            #message="ngModel"
            minlength="4"
            [(ngModel)]="contactData.message"
            name="message"
            id="message"
            class="textarea"
            placeholder="Your message"
            required
          ></textarea>
          <!-- !message.valid && message.touched && !message.disabled // für später-->
          @if (!message.valid && message.touched) {
          <p class="validation">Your message is empty</p>
          }
        </div>
        <div id="check-box">
          <input
            #privacyPolicy="ngModel"
            [(ngModel)]="contactData.privacyPolicy"
            name="privacyPolicy"
            id="privacyPolicy"
            type="checkbox"
            required
          />
         <div>
            <p>
              I`ve read the <span>privacy policy</span> and agree to the processing of my data as
              outlined
            </p>
            @if (!privacyPolicy.valid && privacyPolicy.touched && contactForm.submitted) {
            <p class="validation">Please accept the privacy policy</p>
            }
          </div>
        </div>
        <input class="button-one" type="submit" value="Send Message" />
      </form>
    </div>
  </div>
</section>
