@use '../../../../public/assets/styles/all-styles.scss' as all;

section {
  width: 100%;
  height: fit-content;
  background: inherit;
  gap: 48px;
  max-width: 1440px;
  overflow: hidden;

  .build-with {
    color: all.$green;
  }

  .headline {
    width: 100%;
    height: 25dvh;
    @include all.flexi($fd: column, $jc: center);
    text-align: center;
    margin-bottom: 48px;
  }

  .content {
    min-height: 400px;
    max-height: fit-content;
  }

  .buttons {
    width: 100%;
    @include all.flexi($jc: center, $gap: 16px);
  }

  .responsive-number {
    width: 100%;
    height: 40px;
    font-size: 36px;
    @include all.flexi($jc: flex-end);
    display: none;
  }

  .picture {
    width: 100%;
    height: 100%;
    object-fit: contains;
    filter: grayscale(100%);
  }

  .image-frame {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: flex-end;

    .rotateAndGrow {
      width: clamp(50px, 10vw, 70px);
      position: absolute;
      display: none;
      z-index: 1;
      // right: 15-25px wegen frame + 25-70px wegen dem bild
      // right: 40-95px
      // right: clamp(-45px, 6vw, -95px);
      right: -9%;
      top: calc(50% - 20px);
    }
  }

  .image-frame::after {
    content: '';
    position: absolute;
    inset: 0;
    border: 4px solid black;
    display: none;
    // pointer-events: none;
    transform: translate(clamp(15px, 2.5vw, 25px), clamp(15px, 2.5vw, 25px));
  }

  .frame {
    @include all.flexi($ai: center, $jc: flex-end);
    display: none;

    > img {
      left: 35px;
    }
  }

  .left-content {
    width: 100%;
    @include all.flexi($gap: 80px);
    padding-bottom: 80px;

    &:hover {
      img {
        filter: none;
      }

      dialog {
        display: flex;
      }

      .image-frame::after {
        display: block;
      }

      .rotateAndGrow {
        display: flex;
      }
    }

    > div {
      width: 50%;
      aspect-ratio: 4 / 3;
      max-height: clamp(100px, 40dvh, 600px);
      background-color: transparent;
      display: flex;
      justify-content: center;
      align-items: center;

      > h3 {
        position: absolute;
        right: 0;
        top: 0;
        font-size: clamp(36px, 4vw, 48px);
      }

      .portfolio-content {
        width: 100%;
        height: 100%;
        // display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        text-align: center;
        gap: 24px;
        margin-top: 40px;
        border: none;

        p {
          font-size: clamp(16px, 1.8vw, 24px);
        }
      }
    }
  }

  .frame-right {
    @include all.flexi($ai: center, $jc: flex-start);
    display: none;

    > img {
      left: -35px;
    }
  }

  .right-content {
    width: 100%;
    height: fit-content;
    @include all.flexi($fd: row-reverse, $gap: 80px);
    margin-bottom: 80px;

    &:hover {
      img {
        filter: none;
      }

      .frame-right {
        display: flex;
      }

      .portfolio-dialog {
        display: block;
        // border: none;
      }
    }

    > div {
      // width: 50%;
      // height: clamp(100px, 40dvh, 450px);
      // background-color: transparent;
      // display: flex;
      // justify-content: center;
      width: 50%;
      aspect-ratio: 4 / 3;
      max-height: clamp(100px, 40dvh, 600px);
      background-color: transparent;
      display: flex;
      justify-content: center;
      align-items: center;

      > h3 {
        position: absolute;
        left: 0;
        top: 0;
        font-size: clamp(36px, 4vw, 48px);
      }

      .portfolio-dialog {
        width: 100%;
        height: 100%;
        border: none;
        display: flex;
      }

      .portfolio-content {
        width: 100%;
        height: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        text-align: center;
        gap: 24px;
        margin-top: 40px;

        p {
          font-size: clamp(16px, 1.8vw, 24px);
        }
      }
    }
  }
}

//#region Mediaquerries

@include all.notebook {
  section > .left-content {
    flex-direction: column;
    gap: 15px;
  }
  section > .left-content > div {
    width: 80%;
  }

  section > .right-content {
    flex-direction: column;
    gap: 15px;
  }
  section > .right-content > div {
    width: 80%;
  }

  section .responsive-number {
    display: flex;
  }

  section > .left-content > div > h3 {
    display: none;
  }
}

@include all.tablet {
  section > .left-content > div {
    .portfolio-content {
      margin-top: 60px;
    }
  }

  section > .right-content > div {
    .portfolio-content {
      margin-top: 60px;
    }
  }

  .frame {
    top: 10px;
    left: 10px;
  }

  .frame-right {
    top: 10px;
    left: -10px;
  }
}

@include all.mobile {
  section .buttons {
    flex-direction: column;
  }
}

//#endregion
