<main class="background">
  <section class="padding">
    <div>
      <a href="#portfolio">
        <img class="moveToRight" src="assets/icons/arrow-down-right.png" alt="Arrow" />
      </a>
    </div>

    <div class="headline">
      <h2>Portfolio</h2>
      <p>{{ 'portfolio.description-one' | translate }}</p>
      <p>{{ 'portfolio.description-two' | translate }}</p>
    </div>

    <div class="left-content">
      <section class="responsive-number">
        <h4>01/03</h4>
      </section>
      <div class="image-frame">
        <img class="rotateAndGrow" src="assets/icons/arrow-filled.png" alt="Arrow" />
        <img class="picture" src="assets/img/join.png" alt="Join" />
      </div>

      <div class="content">
        <h3>01/03</h3>
        <dialog class="portfolio-content">
          <h3 class="project">Join</h3>
          <p class="build-with">Angular | TypeScript | HTML | CSS | Firebase</p>
          <p>
            {{ 'portfolio.join' | translate }}
          </p>
          <div class="buttons">
            <a class="button-two" href="" target="_blank">GitHub</a>
            <a class="button-two" href="" target="_blank">Live</a>
          </div>
        </dialog>
      </div>
    </div>

    <div class="right-content">
      <section class="responsive-number-right">
        <h4>02/03</h4>
      </section>
      <div class="image-frame-right">
        <img class="rotateAndGrow" src="assets/icons/arrow-filled.png" alt="Arrow" />
        <img class="picture" src="assets/img/el-pollo-loco.png" alt="Join" />
      </div>

      <div class="content">
        <h3>02/03</h3>
        <dialog class="portfolio-content">
          <h3 class="project">El-Pollo-Loco</h3>
          <p class="build-with">HTML | CSS | JavaScript</p>
          <p>
            {{ 'portfolio.el-pollo-loco' | translate }}
          </p>
          <div class="buttons">
            <a
              class="button-two"
              href="https://github.com/ferazasghar6-max/El-Pollo-Loco.git"
              target="_blank"
              >GitHub</a
            >
            <a
              class="button-two"
              href="https://ferazasghar6-max.github.io/El-Pollo-Loco/"
              target="_blank"
              >Live</a
            >
          </div>
        </dialog>
      </div>
    </div>

    <div class="left-content">
      <section class="responsive-number">
        <h4>03/03</h4>
      </section>
      <div class="image-frame">
        <img class="rotateAndGrow" src="assets/icons/arrow-filled.png" alt="Arrow" />
        <img class="picture" src="assets/img/pokedex.png" alt="Join" />
      </div>

      <div class="content">
        <h3>03/03</h3>
        <dialog class="portfolio-content">
          <h3 class="project">Pokédex</h3>
          <p class="build-with">HTML | CSS | REST-API | JavaScript</p>
          <p>
            {{ 'portfolio.pokedex' | translate }}
          </p>
          <div class="buttons">
            <a
              class="button-two"
              href="https://github.com/ferazasghar6-max/Pokedex.git"
              target="_blank"
              >GitHub</a
            >
            <a class="button-two" href="https://ferazasghar6-max.github.io/Pokedex/" target="_blank"
              >Live</a
            >
          </div>
        </dialog>
      </div>
    </div>
  </section>
</main>
