@use '../../../../public/assets/styles/all-styles.scss' as all;

section {
  width: 100%;
  height: auto;
  padding: 48px;
  background: inherit;
  gap: 48px;

  .build-with {
    color: all.$green;
  }

  .headline {
    width: 100%;
    height: 25dvh;
    @include all.flexi($fd: column, $jc: center);
    text-align: center;
    margin-bottom: 48px;
  }

  .arrow {
    width: 50px;
    height: 50px;
    // left: 25px;
    // transform: rotate(0deg);
    // transition: transform 0.3s ease;
  }

  .picture {
    width: 100%;
    height: 100%;
    filter: grayscale(100%);
  }

  .frame {
    @include all.flexi($ai: center, $jc: flex-end);
    display: none;

    > img {
      left: 25px;
    }
  }

  .left-content {
    width: 100%;
    @include all.flexi($gap: 80px);
    margin-bottom: 100px;

    &:hover {
      img {
        filter: none;
      }

      dialog {
        display: flex;
      }
    }

    > div {
      width: 50%;
      height: clamp(300px, 50dvh, 350px);
      background-color: transparent;
      // @include all.flexi($jc: center);
      display: flex;
      justify-content: center;

      > h3 {
        position: absolute;
        right: 0;
      }

      .portfolio-content {
        width: 100%;
        height: 100%;
        // @include all.flexi($ai: center, $jc: center, $fd: column, $gap: 24px);
        align-items: center;
        justify-content: center;
        flex-direction: column;
        gap: 24px;
        margin-top: 40px;
        border: none;
      }
    }
  }

  .frame-right{
    @include all.flexi($ai: center, $jc: flex-start);
    display: none;

    > img {
      left: -25px;
    }
  }

  .right-content {
    width: 100%;
    @include all.flexi($fd: row-reverse, $gap: 80px);
    margin-bottom: 100px;

    &:hover {
      img {
        filter: none;
      }

      dialog {
        display: flex;
      }
    }

    > div {
      width: 50%;
      height: clamp(300px, 50dvh, 350px);
      background-color: transparent;
      // @include all.flexi($jc: center);
      display: flex;
      justify-content: center;

      > h3 {
        position: absolute;
        left: 0;
      }

      .portfolio-content {
        width: 100%;
        height: 100%;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        gap: 24px;
        margin-top: 40px;
        border: none;
      }
    }
  }


}
