@use '../../../../public/assets/styles/all-styles.scss' as all;

section {
  width: 100%;
  height: fit-content;
  padding-left: clamp(12px, 5%, 48px);
  padding-right: clamp(12px, 5%, 48px);
}

* {
  background-color: #fffcf3;
}

h1 {
  font-size: clamp(20px, 8dvw, 120px);
  color: all.$green;
  padding-bottom: 16px;
  /* Ermöglicht die automatische Silbentrennung mit Bindestrich */
  hyphens: auto;
  /* Erlaubt den Umbruch, falls ein Wort zu lang ist */
  overflow-wrap: break-word;
  /* Verhindert, dass der Text starr in einer Zeile bleibt */
  word-break: break-word;
}

h2 {
  font-size: clamp(24px, 5dvw, 100px);
  padding-bottom: 16px;
}

h3 {
  font-size: clamp(22px, 3dvw, 24px);
  padding-bottom: 16px;
}

h4 {
  font-size: clamp(18px, 2.5dvw, 24px);
  padding-bottom: 16px;
}

p {
  padding-bottom: 24px;
}

.routerLink {
    display: inline-block;
  color: all.$green;
  font-size: 20px;
  padding-bottom: 24px;

  &:hover {
    filter: brightness(1);
    text-shadow: 0 0 0.8px currentColor;
    text-decoration: underline;
  }
}
