<section>
  <div id="headline">
    <h2>References</h2>
    <p>
      I thrive both independently and as part of a team. Here’s what my colleagues have to say about
      working with me.
    </p>
  </div>

  <div id="references">
    <div class="reference">
      <h3>&rdquo;</h3>
      <h4>V.Schuster</h4>
      <span>Team Partner</span>
      <p>
        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Soluta, vitae incidunt,
        consequuntur dicta voluptate dolorum itaque exercitationem recusandae architecto nostrum
        rerum provident qui. Beatae aliquam rerum adipisci ipsam pariatur in.
      </p>
    </div>

    <div class="reference">
      <h3>&rdquo;</h3>
      <h4>V.Schuster</h4>
      <span>Team Partner</span>
      <p>
        das geht auch
      </p>
    </div>

    <div class="reference">
      <h3>&rdquo;</h3>
      <h4>V.Schuster</h4>
      <span>Team Partner</span>
      <p>
        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Soluta, vitae incidunt,
        consequuntur dicta voluptate dolorum itaque exercitationem recusandae architecto nostrum
        rerum provident qui. Beatae aliquam rerum adipisci ipsam pariatur in.
      </p>
    </div>

  </div>
</section>
