@use '../../../../public/assets/styles/all-styles.scss' as all;

section {
  width: 100%;
  height: fit-content;
  padding: 24px 48px;
  text-align: center;
  overflow-wrap: break-word;
  @include all.flexi($ai: center, $fd: column);

  #headline {
    width: 80%;
    margin-bottom: 24px;

    > h2 {
      margin-bottom: 36px;
    }
  }

  #references {
    width: 100%;
    height: 100%;
    @include all.flexi($jc: space-between, $gap: 16px);
  }

  .reference {
    width: clamp(200px, 30%, 400px);
    min-height: 450px;
    padding: 24px 16px;
    border: 4px solid black;
    margin-top: 24px;

    &:hover {
      border-color: all.$green;

      h3 {
        color: all.$green;
      }
    }

    > h3 {
      font-size: 60px;
    }

    > h4 {
      font-size: 24px;
    }

    > p {
      margin-top: 24px;
    }

    > span {
      color: black;
    }
  }
}
