@use '../../../../public/assets/styles/all-styles.scss' as all;

section {
  width: 100%;
  @include all.flexi($fd: column, $ai: center, $jc: center);
  max-width: 1440px;

  #head-line {
    width: 80%;
    text-align: center;
  }

  #name {
    @include all.flexi($ai: center, $gap: 16px);

    #underline {
      width: clamp(10px, 39vw, 700px);
      height: 3px;
    }

    > h3 {
      font-size: 48px;
      color: all.$green;
    }
  }

  #mail-scroll {
    width: 100%;
    height: auto;
    padding: 48px 0px;
    @include all.flexi($ai: center, $jc: space-between);

    #arrow {
      overflow: hidden;
    }

    #mail {
      left: -100px;
      width: 50px;

      > a {
        display: inline-block;
        transform: rotate(-90deg);
      }
    }

    > div {
      font-size: 20px;
      text-align: center;
    }
  }
}

// #region mediaquerrys
@include all.notebook {
    section #name > h3 {
    font-size: 36px;
  }
}

@include all.tablet {
  h1 {
    padding-top: 48px;
  }

   section #name > h3 {
    font-size: 28px;
  }
}

@include all.mobile {

  section #head-line{
    width: 100%;
  }

  section #name > h3 {
    font-size: 20px;
  }
}

// #endregion
