@use '../../../../public/assets/styles/all-styles.scss' as all;

section {
  width: 100%;
  height: auto;
  padding: 16px 48px;

  > div {
    width: 100%;
    height: 30dvh;
    @include all.flexi($jc: flex-end);
  }

  > section {
    width: 100%;
    height: fit-content;
    margin-top: 80px;
    border: 4px solid black;
    position: relative;
    flex-wrap: wrap;
    @include all.flexi($jc: space-around);


    #my-skills {
      height: fit-content;
      width: clamp(250px, 50dvw, 600px);
      position: absolute;
      top: -75px;
      @include all.flexi($jc: center);
    }

    .skill-icon {
      width: 100px;
      height: fit-content;
      @include all.flexi($ai: center, $fd: column);
      text-align: center;
      margin: 80px;

      &:hover {
        color: all.$green;
      }

      > img {
        width: 100px;
        height: 100px;
      }

      > p {
        margin-top: 16px;
        font-weight: bold;
      }
    }

    #education {
      width: 100%;
      height: 15dvh;
      @include all.flexi($jc: center);

      font-weight: bold;

      #contact-me {
        font-weight: lighter;
        
        &:hover {
          cursor: pointer;
          font-weight: bold;
          text-decoration: underline;
        }
      }
    }
  }
}
