@use '../../../../public/assets/styles/all-styles.scss' as all;

section {
  width: 100%;
  height: auto;

  > div {
    width: 100%;
    height: 30dvh;
    @include all.flexi($jc: flex-end);
  }

  > section {
    width: 100%;
    height: fit-content;
    margin-top: 80px;
    border: 4px solid black;
    position: relative;
    flex-wrap: wrap;
    padding-top: clamp(30px, 4vw, 80px);
    @include all.flexi($jc: space-around);

    #my-skills-headline {
      height: fit-content;
      width: clamp(250px, 50dvw, 600px);
      position: absolute;
      top: -75px;
      @include all.flexi($jc: center);
    }

    .skill-icon {
      width: clamp(80px, 8vw, 100px);
      height: fit-content;
      @include all.flexi($ai: center, $fd: column);
      text-align: center;
      margin: clamp(8px, 4vw, 80px);

      perspective: 600px;
      overflow: hidden;

      &:hover {
        color: all.$green;
      }

      > img {
        width: clamp(30px, 8vw, 100px);
        height: clamp(30px, 8vw, 100px);
      }

      > p {
        margin-top: 16px;
        font-weight: bold;
        font-size: clamp(16px, 2.2vw, 24px);
      }
    }

    #education {
      width: 100%;
      height: 15dvh;
      @include all.flexi($jc: center, $gap: 16px);
      font-weight: bold;
      padding: 0px 16px;

      p {
        font-size: clamp(16px, 2.2vw, 24px);
      }

      #education-wraper {
        perspective: 600px;
        overflow: hidden;
        width: clamp(80px, 8vw, 100px);
        // height: clamp(30px, 8vw, 100px);

        > img {
          width: clamp(40px, 8vw, 100px);
          height: clamp(40px, 8vw, 100px);
        }
      }

      #contact-me {
        font-weight: lighter;
        color: all.$green;
        font-size: clamp(16px, 2.2vw, 24px);

        &:hover {
          cursor: pointer;
          font-weight: bold;
          text-decoration: underline;
        }
      }
    }
  }
}

//#region Mediaquerries

@include all.notebook {
  section > section {
    #my-skills-headline {
      top: -60px;
    }
  }

  section > section {
    justify-content: center;
  }
}

@include all.tablet {
  section > section {
    #my-skills-headline {
      top: -40px;
    }
  }
}

//#endregion
