<section>
  <div>
    <a href="#my-skills">
      <img src="assets/icons/arrow-down-left.png" alt="" />
    </a>
  </div>
  <section>
    <div id="my-skills-headline">
      <h2>My Skills</h2>
    </div>
    <div class="skill-icon">
      <img src="assets/icons/angular.png" alt="Angular-Icon" />
      <p>Angular</p>
    </div>
    <div class="skill-icon">
      <img src="assets/icons/typescript.png" alt="TypeScript-Icon" />
      <p>TypeScript</p>
    </div>
    <div class="skill-icon">
      <img src="assets/icons/javascript.png" alt="JavaScript-Icon" />
      <p>JavaScript</p>
    </div>
    <div class="skill-icon">
      <img src="assets/icons/html.png" alt="HTML-Icon" />
      <p>HTML</p>
    </div>
    <div class="skill-icon">
      <img src="assets/icons/css.png" alt="Css-Icon" />
      <p>CSS</p>
    </div>
    <div class="skill-icon">
      <img src="assets/icons/git.png" alt="Git-Icon" />
      <p>Git</p>
    </div>
    <div class="skill-icon">
      <img src="assets/icons/rest-api.png" alt="Rest-Api-Icon" />
      <p>REST-API</p>
    </div>

    <div id="education">
      <img src="assets/icons/education.png" alt="Rest-Api-Icon" />
      <p>
        Don`t see the skill you need? <a href="#say-hi" id="contact-me">Contact me</a>
        I`m always ready to learn!
      </p>
    </div>
  </section>
</section>
