@use '../../../../public/assets/styles/all-styles.scss' as all;

.background{
  background-color: black;
  color: white;
}

  .logo {
    filter: invert(1);
    background-color: transparent;
  }

#footer {
  width: 100%;
  height: fit-content;
  padding: 0px 48px;
  background-color: black;
  max-width: 1440px;

  #logo-icons {
    width: 100%;
    @include all.flexi($jc: space-between, $ai: center);
    background: transparent;
  }

  #legal-notice {
    width: 100%;
    @include all.flexi($jc: flex-end);
    padding-bottom: 16px;

    a {
      font-size: 20px;
    }
  }

  #social-media {
    width: 200px;
    @include all.flexi($jc: space-around);    
  }
}

#responsive-footer{
  
  width: 100%;
  @include all.flexi($fd: column, $gap: 16px); 
  padding: 16px 0px; 
  display: none;

  #social-media-responsive{
    @include all.flexi($jc: space-between, $gap: 16px); 
  }
}

//#region Mediaquerries

@include all.tablet{
  #footer{
    display: none;
  }

  #responsive-footer{
    display: flex;
  }
}

//#endregion
