@use '../../../../public/assets/styles/all-styles.scss' as all;

.background {
  background-color: black;
  color: white;
}

.logo {
  width: 75px;
  height: auto;
  filter: invert(1);
  background-color: transparent;
}

#footer {
  width: 100%;
  height: 20dvh;
  background-color: black;
  max-width: 1440px;
  padding-top: 16px;

  #logo-icons {
    width: 100%;
    @include all.flexi($jc: space-between, $ai: center);
    background: transparent;
  }

  #legal-notice {
    width: 100%;
    @include all.flexi($jc: flex-end);
    padding-bottom: 16px;

    a {
      font-size: 20px;
    }
  }

  #social-media {
    width: 200px;
    @include all.flexi($jc: space-around);
  }
}

#responsive-footer {
  width: 100%;
  @include all.flexi($fd: column, $gap: 16px);
  padding: 16px 0px;
  display: none;

  #social-media-responsive {
    @include all.flexi($jc: space-between, $gap: 16px);
  }
}

//#region Mediaquerries

@include all.tablet {
  #footer {
    display: none;
  }

  #responsive-footer {
    display: flex;
  }
}

//#endregion
