@use '../../../../public/assets/styles/all-styles.scss' as all;

* {
  background-color: #fffcf3;
}


#impressum {
  width: 100%;
  max-width: 1440px; /* Passend zu deiner .max-width Klasse */
  flex-grow: 1;
  min-height: 65dvh;

  h2 {
    margin-bottom: 16px;
  }
  p {
    font-size: 16px;
  }

  a {
    color: all.$green;
  }

  .slide-underline {
    font-size: 20px;
    font-weight: lighter;

    &:hover {
      filter: brightness(1);
      text-shadow: 0 0 0.8px currentColor;
    }
  }
}
