<main class="background">
  <section id="impressum" class="padding">
    <h2>{{ 'legal-notice.headline' | translate }}</h2>
    <p>
      <strong>{{ 'legal-notice.paragraph' | translate }}</strong>
    </p>
    <p>
      Fiarazz Asghar<br />
      Auf der Steige 15<br />
      71287 Weissach <br />
      <br />
    </p>
    <p>
      <strong>{{ 'legal-notice.represented' | translate }} </strong><br />
      Fiarazz Asghar<br /><br />
    </p>
    <p>
      <strong>Kontakt:</strong> <br />
      Telefon: +49 178-2395096<br />
      E-Mail: <a>ferazasghar6@gmail.com</a><br />
    </p>
    <br />
    <p>
      <strong>{{ 'legal-notice.resolution' | translate }}</strong> <br />
      {{ 'legal-notice.resolution-text' | translate }}
    </p>
    <p>
      {{ 'legal-notice.build-with-one' | translate }}
      <a href="https://impressum-generator.de" rel="dofollow" target="blank">{{
        'legal-notice.build-with-two' | translate
      }}</a>
      {{ 'legal-notice.build-with-three' | translate }}
      <a href="https://websitewissen.com/website-erstellen" rel="dofollow" target="blank">{{
        'legal-notice.website' | translate
      }}</a
      >,
      <a
        href="https://websitewissen.com/homepage-baukasten-vergleich"
        rel="dofollow"
        target="blank"
        >{{ 'legal-notice.homepage' | translate }}</a
      >
      und
      <a href="https://websitewissen.com/shopsysteme-vergleich" rel="dofollow" target="blank">{{
        'legal-notice.shopsystem' | translate
      }}</a
      >. {{ 'legal-notice.legal-text' | translate }}
      <a href="https://www.kanzlei-hasselbach.de/" rel="dofollow" target="blank"
        >Kanzlei Hasselbach</a
      >.
    </p>
    <br />
    <a routerLink="" class="routerLink">{{ 'legal-notice.back' | translate }}</a>
  </section>
</main>
