

@font-face {
  font-family: 'Syne Variable';
  src: url('../../../public/assets/fonts/Syne-VariableFont_wght.ttf') format('truetype');
  font-weight: 100 900; /* variabler Font unterstützt Gewichte von 100 bis 900 */
  font-style: normal;
  font-display: swap;
}