$green: #00bc8f;

//#region Keyframes

@keyframes moveToRight {
  0% {
    transform: translate(0, 0);
  }
  100% {
    transform: translate(25px, 25px);
  }
}

.moveToRight {
  animation-name: moveToRight; // Name der Animation /Keyframes
  animation-duration: 3s; // Dauer der Animation
  animation-iteration-count: infinite;
}

@keyframes moveToLeft {
  0% {
    transform: translate(0, 0);
  }
  100% {
    transform: translate(-25px, 25px);
  }
}

.moveToLeft {
  animation-name: moveToLeft; // Name der Animation /Keyframes
  animation-duration: 3s; // Dauer der Animation
  animation-iteration-count: infinite;
}

@keyframes moveUp {
  0% {
    transform: translateY(0);
  }
  100% {
    transform: translateY(-15px);
  }
}

.moveUp {
  transition: transform 0.4s ease-in-out; 
  display: inline-block; 

  &:hover{
    transform: translateY(-15px);
  }
}

@keyframes arrowDown {
  0% {
    transform: translateY(-180px);
  }
  100% {
    transform: translateY(120px);
  }
}

.arrowDown {
  animation: arrowDown 2s infinite;
}

@keyframes backLoop {
  0% {
    transform: translateX(0) translateZ(0);
  }

  33% {
    transform: translateX(60px) translateZ(-125px);
  }

  66% {
    transform: translateX(-60px) translateZ(-125px);
  }

  100% {
    transform: translateX(0) translateZ(0);
  }
}

.loopImage {
  transform-style: preserve-3d;
  display: block;
  transition: transform 0.4s; 
}

/* Diese Klasse wird von Angular gesteuert */
.is-animating {
  animation: backLoop 0.4s 1 ease-in-out;
}

@keyframes rotateAndGrow {
  0% {
    transform: rotate(0deg) scale(1);
  }
  100% {
    transform: rotate(-120deg) scale(1.2);
  }
}

.rotateAndGrow {
  transform-style: preserve-3d;
  animation-name: rotateAndGrow;
  animation-duration: 0.5s;
  animation-fill-mode: forwards;
  animation-iteration-count: 1;
  animation-timing-function: ease-in-out;
}

@keyframes flyRightToLeft {
  0% {
    transform: translateX(200px); 
    opacity: 0; /* Komplett durchsichtig am Start */
  }
  100% {
    transform: translateX(0); 
    opacity: 1; /* Vollständig sichtbar am Ziel */
  }
}

@keyframes flyLeftToRight {
  0% {
    transform: translateX(-200px);
    opacity: 0; 
  }
  100% {
    transform: translateX(0);
    opacity: 1; 
  }
}

@keyframes flyTopToBottom {
  0% {
    transform: translateY(-130px); /* Startet 130px weiter oben */
    opacity: 0;                   /* Unsichtbar */
  }
  100% {
    transform: translateY(0);      /* Endet an der Originalposition */
    opacity: 1;                   /* Voll sichtbar */
  }
}

@keyframes fadeInOut {
  0% {
    opacity: 0;
    transform: translateY(-10px);
  }
  10% {
    opacity: 1;
    transform: translateY(0);
  }
  90% {
    opacity: 1;
    transform: translateY(0);
  }
  100% {
    opacity: 0;
    transform: translateY(-10px);
  }
}

@keyframes slideUnderline {
  0% {
    transform: translateX(-40px); 
    opacity: 0;                   
  }
  100% {
    transform: translateX(0);      
    opacity: 1;                   
  }
}
.slide-underline {
  position: relative;
  display: inline-block;
  text-decoration: none;
  font-weight: lighter;
 

  &::after {
    content: '';
    position: absolute;
    left: 65%;
    bottom: -2px;
    width: 35%;
    height: 2px;
    background-color: #00b894;
    opacity: 0;
  }

  &:hover {
    &::after {
      animation: slideUnderline 0.2s ease-out forwards;
    }
  }
}

@keyframes stretchArrow {
  0% {
    transform: scaleY(1); 
  }
  50% {
    transform: scaleY(1.5); 
  }
  100% {
    transform: scaleY(1); 
  }
}

.arrow-up {
  display: inline-block; 
  transform-origin: bottom center;
  transition: transform 0.3s ease; 

  &:hover{
    transform: scaleY(1.4);
  }
}


//#endregion

//#region responsivnes

.padding {
  padding-bottom: 0px;
  padding-top: 0px;
  padding-left: clamp(12px, 5%, 48px);
  padding-right: clamp(12px, 5%, 48px);
}

.max-width {
  max-width: 1440px;
  width: 100%;
}

.background {
  width: 100%;
  background-color: #fffcf3;
  display: flex;
  justify-content: center;
}

//#endregion

//#region Scrol-Id`s
#above-the-fold {
  scroll-margin-top: 120px;
}

#say-hi {
  scroll-margin-top: 120px;
}

#my-skills {
  scroll-margin-top: -110px;
}

#about-me {
  scroll-margin-top: 120px;
}

#portfolio {
  scroll-margin-top: -110px;
}

.no-scroll{
  overflow: hidden;
}

//#endregion

//#region font-size & hover

p {
  font-size: clamp(16px, 5dvw, 24px);
}

h1 {
  font-size: clamp(33px, 8dvw, 140px);
  font-family: 'Syne Variable', sans-serif;
  font-weight: 800; /* ExtraBold */
}

h2 {
  font-size: clamp(30px, 8dvw, 100px);
  font-family: 'Syne Variable', sans-serif;

  &:hover {
    color: $green;
  }
}

h3 {
  font-size: clamp(24px, 5dvw, 48px);
}

//#endregion

//#region Buttons

.button-one {
  width: 250px;
  border: 4px solid white;
  filter: brightness(0.5);
  background-color: transparent;
  padding: 10px 24px;
  font-size: 24px;
  transition: width 0.3s ease;

  &.is-valid:hover {
    cursor: pointer;
    width: 300px;
    font-weight: bold;
    filter: brightness(1);
  }
}

.button-two {
  width: 200px;
  border: 4px solid black;
  background-color: transparent;
  padding: 10px 24px;
  font-size: 24px;
  transition: width 0.3s ease;
  text-align: center;

  &:hover {
    cursor: pointer;
    width: 250px;
    font-weight: bold;
  }
}

//#endregion

//#region frames
.frame-min-height {
  position: absolute;
  background: transparent;
  width: 100%;
  min-height: inherit;
  border: 3.5px solid black;
  z-index: 10;
  top: 25px;
  left: 25px;
}

//#endregion
