$green: #00bc8f;

//#region Keyframes

@keyframes moveToRight {
  0% {
    transform: translate(0, 0);
  }
  100% {
    transform: translate(25px, 25px);
  }
}

.moveToRight {
  animation-name: moveToRight; // Name der Animation /Keyframes
  animation-duration: 3s; // Dauer der Animation
  animation-iteration-count: infinite;
}

@keyframes moveToLeft {
  0% {
    transform: translate(0, 0);
  }
  100% {
    transform: translate(-25px, 25px);
  }
}

.moveToLeft {
  animation-name: moveToLeft; // Name der Animation /Keyframes
  animation-duration: 3s; // Dauer der Animation
  animation-iteration-count: infinite;
}

@keyframes arrowDown {
  0% {
    transform: translateY(-180px);
  }
  100% {
    transform: translateY(120px);
  }
}

.arrowDown {
  animation: arrowDown 1s infinite;
}

@keyframes backLoop {
  0% {
    transform: translateX(0) translateZ(0);
  }

  33% {
    transform: translateX(60px) translateZ(-125px);
  }

  66% {
    transform: translateX(-60px) translateZ(-125px);
  }

  100% {
    transform: translateX(0) translateZ(0);
  }
}

.loopImage {
  transform-style: preserve-3d;

  &:hover{
    animation: backLoop 0.3s 1 ease-in-out;
  }
}

@keyframes rotateAndGrow {
  0% {
    transform: rotate(0deg) scale(1);
  }
  100% {
    transform: rotate(-120deg) scale(1.2);
  }
}

.rotateAndGrow {
  transform-style: preserve-3d;
  animation-name: rotateAndGrow;
  animation-duration: 0.5s;      
  animation-fill-mode: forwards; 
  animation-iteration-count: 1;  
  animation-timing-function: ease-in-out; 
}

@keyframes flyRightToLeft {
  0% {
    transform: translateX(400px); /* Start rechts von der ursprünglichen Position */
  }
  100% {
    transform: translateX(0);     /* Eigentliche Position */
  }
}

.flyRightToLeft {
  animation-name: flyRightToLeft;
  animation-duration: 0.3s;             /* Dauer des Fluges */
  animation-timing-function: ease-out;/* sanfter Flug */
  animation-fill-mode: forwards;      /* bleibt am Endpunkt */
}

//#endregion

//#region responsivnes

.padding {
  padding-bottom: 0px;
  padding-top: 0px;
  padding-left: clamp(12px, 5%, 48px);
  padding-right: clamp(12px, 5%, 48px);
}

.max-width{
  max-width: 1440px;
  width: 100%;
}

.background{
  width: 100%;
  background-color: #fffcf3;
  display: flex;
  justify-content: center;
}

//#endregion

//#region Scrol-Id`s
#above-the-fold {
  scroll-margin-top: 120px;
}

#say-hi {
  scroll-margin-top: 120px;
}

#my-skills{
  scroll-margin-top: -110px;
}

#about-me {
  scroll-margin-top: 120px;
}

#portfolio {
  scroll-margin-top: -110px;
}

//#endregion

//#region font-size & hover

p {
  font-size: 24px;
}

h1 {
  font-size: 150px;
}

h2 {
  font-size: clamp(60px, 8dvw, 120px);

  &:hover {
    color: $green;
  }
}

h3 {
  font-size: 48px;
}

//#endregion

//#region Buttons

.button-one {
  width: 250px;
  border: 4px solid white;
  filter: brightness(0.5);
  background-color: transparent;
  padding: 10px 24px;
  font-size: 24px;
  transition: width 0.3s ease;

  &:hover {
    cursor: pointer;
    width: 300px;
    font-weight: bold;
    filter: brightness(1);
  }
}

.button-two {
  width: 200px;
  border: 4px solid black;
  background-color: transparent;
  padding: 10px 24px;
  font-size: 24px;
  transition: width 0.3s ease;
  text-align: center;

  &:hover {
    cursor: pointer;
    width: 250px;
    font-weight: bold;
  }
}

//#endregion

//#region frames
.frame-min-height {
  position: absolute;
  background: transparent;
  width: 100%;
  min-height: inherit;
  border: 3.5px solid black;
  z-index: 10;
  top: 25px;
  left: 25px;
}

.frame {
  position: absolute;
  background: transparent;
  width: 100%;
  height: inherit;
  border: 3.5px solid black;
  z-index: 10;
  top: 25px;
  left: 25px;
}

.frame-right {
  position: absolute;
  background: transparent;
  width: 100%;
  height: inherit;
  border: 3.5px solid black;
  z-index: 10;
  top: 25px;
  left: -25px;
}
//#endregion
