// @use './../public/assets/styles/all-styles.scss' as all;

* {
  position: relative;
  padding: 0;
  margin: 0;
  text-decoration: none;
  list-style: none;
  box-sizing: border-box;
  scroll-behavior: smooth;
  font-size: inherit;
  color: inherit;
  font-family: inherit;
  background-color: inherit;
}
